  <!-- Footer -->
  <footer class=" bg-gray-900 " aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
      <div class="grid sm:grid-cols-2 md:grid-cols-5">
        <img class="h-7" src="{{ 'assets/logos/afloat/afloat-white.svg' }}" alt="Afloat">
        {{ partial:layouts.pagecomponents.footer_menu menu_title="{site_data:menu_1_title}" menu="{nav:footer_menu_1}" }}
        {{ partial:layouts.pagecomponents.footer_menu menu_title="{site_data:menu_2_title}" menu="{nav:footer_menu_2}" }}
        {{ partial:layouts.pagecomponents.footer_menu menu_title="{site_data:menu_3_title}" menu="{nav:footer_menu_3}" }}
        {{ partial:layouts.pagecomponents.footer_menu menu_title="{site_data:menu_4_title}" menu="{nav:footer_menu_4}" }}
      </div>
    </div>
  </footer>